totem {
  version: 2
  token: 3000
  token_retransmits_before_loss_const: 10
  join: 60
  consensus: 3600
  vsftype: none
  max_messages: 20
  clear_node_high_bit: yes
  secauth: off
  threads: 0
  rrp_mode: none
  interface {
    ringnumber: 0
    bindnetaddr: {{ ansible_eth0['ipv4']['network'] }}
    broadcast: yes
    mcastport: 5405
  }
  transport: udpu
}        
quorum {
  provider: corosync_votequorum
  two_node: 1
  nodelist {
    {% for host in groups['backendservers'] %}
      node {
        ring0_addr: {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}
      }
    {% endfor %}  
  }
}
nodelist {
{% for host in groups['backendservers'] %}
  node {
    ring0_addr: {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}
  }
{% endfor %}
}

