vrrp_instance vrrp_group_100 {
     state MASTER
     interface eth0
     virtual_router_id 100
     priority 100
     authentication {
       auth_type PASS
       auth_pass {{ keepalived_pass }}
     }
     virtual_ipaddress {
       {{ heat_frontend_vip }} dev eth0 label eth0:0
     }
}
