vrrp_instance vrrp_group_100 {
     state MASTER
     interface eth0
     virtual_router_id 100
     priority 100
     vrrp_unicast_bind {{ ansible_eth0.ipv4.address }}
{% for svr in groups.frontendservers|difference([inventory_hostname]) %}
  vrrp_unicast_peer {{ hostvars[srv].ansible_default_ipv4.address }}
{% endfor %}
     
     {{ ansible_eth0.ipv4.address }}
      192.168.1.12   # Internal IP of peer
     authentication {
       auth_type PASS
       auth_pass {{ keepalived_pass }}
     }
     virtual_ipaddress {
       {{ heat_frontend_vip }} dev eth0 label eth0:0
     }
}
